# Environment Config

# Store your secrets and config variables here.
# Only invited collaborators will be able to see your .env values.

# Page and Application information
PAGE_ID=113017171726750
APP_ID=159517946943923
PAGE_ACCESS_TOKEN=EAACRFKqQGbMBACZA8i6R9xRe8IF0Pnz5kcyYL8vZC1t2pB8IwdWWdMp6CWGUi7ZBTxSMKW0OVQEuGHnoZAFGny4JZBjAejWGZAktZCvPWTdmJSPKhECL2HBoFwhVxnJAZCVz2Siq2DZAbRxsZBOY4zrD53nLlbBsfxrFWmZA44lDI2QSEyK66Y9lZAZC7QsZATXH3A4WBHFrwwsIGTvlJLwHi1Sx3WrJUKsVIwiEQZD

# Your App secret can be found in App Dashboard -> Settings -> Basic
APP_SECRET=e615cd1d9a13378137219f9d86ebe12b

# A random string that is used for the webhook verification request
VERIFY_TOKEN=qwertyuiop

# URL where you host this code
# You can use a tunneling service or Heroku ex: https://mystic-wind-83.herokuapp.com
# It must be https, and without trailing slash.
APP_URL=google.com

# URL of your website where the "shop now" is located
# Can be the same as your app domain URL ex: https://www.originalcoastclothing.com/
SHOP_URL=apple.com

# Preferred port
PORT=3000

# Note: .env is a shell file so there can't be spaces around =
